<!DOCTYPE html>
<html>
	<head>
		{%- block head -%}
			<meta charset = "utf-8">
			<meta name = "viewport" content = "initial-scale=1.0,user-scalable=no">
			<title>
				{%- block title -%}
					POCKR ASSETS MANAGEMENT
				{%- endblock title -%}
			</title>
			{%- block style -%}
				<link rel="stylesheet" href="{{ url_for('static',filename='css/base.css') }}">
			{%- endblock style -%}
		<script type="text/javascript" src="http://webapi.amap.com/maps?v=1.4.15&key=dc26cd892f0b99b80f981764d3ab167d"></script>
		{%- endblock head %}
	</head>
	<body>
		<div class="box-flex">
			{%- block content -%}
			{%- endblock content -%}	
		</div>
		{%- block footer -%}
		{%- endblock footer -%}
		{%- block script -%}
		{%- endblock script %}
	</body>
</html>


