<!DOCTYPE html>
<html lang="zh-cn">
	<head>
		{%- block head -%}
			<meta charset = "utf-8">
			<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
			<title>
				{%- block title -%}
					Pockr Assets Management
				{%- endblock title -%}
			</title>
			{{ bootstrap.load_css() }}
			{%- block style -%}
				<link rel="stylesheet" href="{{ url_for('static',filename='css/style.css') }}">
			{%- endblock style -%}
		{%- endblock head %}
	</head>
	<body>
		{%- block header -%}
		{%- endblock header -%}
		<div class="container-fluid pl-5 pr-5">
			{%- block content -%}
			{%- endblock content -%}
			{%- block footer -%}
			{%- endblock footer -%}
		</div>
		{%- block script -%}
		{%- endblock script %}
		{{ bootstrap.load_js() }}
	</body>
</html>


