{% extends 'base.html' %}
{%- block header -%}
	<nav class="navbar navbar-expand-lg navbar-dark bg-dark pl-5 pr-5">
		<a class="navbar-brand text-light" href="{{ url_for('index') }}">PAM</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		{% from 'bootstrap/nav.html' import render_nav_item %}
		<div class="collapse navbar-collapse" id="navbarSupportedContent">
			<ul class="navbar-nav mr-auto">
				<li class="nav-item">
					{{ render_nav_item('home', 'Home') }}
				</li>
				<li class="nav-item active">
					{{ render_nav_item('project', 'Project') }}
				</li>
				<li class="nav-item">
					{{ render_nav_item('intelligence', 'Intelligence') }}
				</li>
			</ul>
		</div>
	</nav>
	<div class="container-fluid bg-light pl-5 pr-5 pt-3 pb-3">
			<div class="row">
				<div class="col-4">
					<form>
						<input class="form-control" type="search" placeholder="Search Subdomain" aria-label="Search">
					</form>
				</div>
				<div class="col-8">
					<button type="button" class="btn btn-primary float-right" data-toggle="modal" data-target="#exampleModal">
						Add Domain
					</button>
				</div>
			</div>
		</div>
{%- endblock -%}

{%- block content -%}	
	<!-- Modal -->
	<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
		<div class="modal-dialog modal-dialog-centered" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="exampleModalLabel">Add Domain</h5>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body">
					<form method="post">
						{{- create_domain_form.csrf_token -}}
						<div class="form-group">
							{{- create_domain_form.domain.label -}}
							{{- create_domain_form.domain -}}
						</div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
					{{- create_domain_form.submit -}}
					</form>
				</div>
			</div>
		</div>
	</div>
	
	<table class="table table-bordered mt-4">
		<thead class="thead-light">
			<tr>
				<th scope="col">ID</th>
				<th scope="col">Subdomain</th>
			</tr>
		</thead>
		<tbody>
			{%- for subdomain in subdomains -%}
				<tr>
					<td>{{- subdomain.id -}}</td>
					<td><a href="{{- subdomain.subdomain -}}">{{- subdomain.subdomain -}}</a></td>
				</tr>
			{%- endfor -%}
		</tbody>
	</table>
	{% from 'bootstrap/pagination.html' import render_pagination %}
	{{ render_pagination(pagination,align='right') }}
{%- endblock -%}
