{% extends 'base.html' %}
{%- block style -%}
	{{ super() }}
	<link rel="stylesheet" href="{{ url_for('static',filename='css/index.css') }}">
{%- endblock -%}
{%- block content -%}
	<div class="left-block">
		<div class="logo"></div>
		<ul>
			<li class="menu-text"><a href="#"><img class="icon" src="{{ url_for('static',filename='img/dashboard.svg') }}"></a></li>
			<li class="menu-text"><a href="#"><img class="icon" src="{{ url_for('static',filename='img/search.svg') }}"></a></li>
			<li class="menu-text"><a href="#"><img class="icon" src="{{ url_for('static',filename='img/project.svg') }}"></a></li>
		</ul>
	</div>
	<div class="middle-block">
		<div>{{ project.name }}</div>
		<div>{{ project.describe }}</div>
	</div>
	<div class="right-block">
		<form method="post">
			{{- create_domain_form.csrf_token -}}
			{{- create_domain_form.domain.label -}}<br>{{- create_domain_form.domain -}}<br>
			{{- create_domain_form.submit -}}<br>
		</form>
		{%- for domain in domains -%}
			<div>{{- domain.domain -}}</div>
			{%- for subdomain in domain.subdomains -%}
				<div><a href="{{- subdomain.subdomain -}}">{{- subdomain.subdomain -}}</a></div>
			{%- endfor -%}
		{%- endfor -%}
	</div>
{%- endblock -%}
