{% extends 'base.html' %}
{%- block header -%}
	<nav class="navbar navbar-expand-lg navbar-dark bg-deepblue pl-5 pr-5">
		<a class="navbar-brand text-light" href="{{ url_for('index') }}">PAM</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarSupportedContent">
			<ul class="navbar-nav mr-auto">
				<li class="nav-item">
					<a class="nav-link" href="{{ url_for('home') }}">Home<span class="sr-only">(current)</span></a>
				</li>
				<li class="nav-item active">
					<a class="nav-link" href="{{ url_for('project') }}">Project</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="#">Intelligence</a>
				</li>
			</ul>
		</div>
	</nav>
	<div class="container-fluid bg-lightblue pl-5 pr-5 pt-3 pb-3">
		<div class="row">
			<div class="col-4">
				<form>
					<input class="form-control" type="search" placeholder="Search Project" aria-label="Search">
				</form>
			</div>
			<div class="col-7">
							
			</div>
			<div class="col-1">
				<button type="button" class="btn btn-bluegreen" data-toggle="modal" data-target="#exampleModal">
					Create
				</button>
			</div>
		</div>
	</div>
{%- endblock -%}

{%- block content -%}	
	<!-- Modal -->
	<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
		<div class="modal-dialog modal-dialog-centered" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="exampleModalLabel">Create Project</h5>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body">
					<form method="post">
						{{- create_project_form.csrf_token -}}
						{{- create_project_form.name.label -}}<br>{{- create_project_form.name -}}<br>
						{{- create_project_form.describe.label -}}<br>{{- create_project_form.describe -}}<br>
						{{- create_project_form.submit -}}<br>
					</form>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
					<button type="button" class="btn btn-primary">Save changes</button>
				</div>
			</div>
		</div>
	</div>

	<table class="table table-bordered mt-4">
		<thead class="thead-light">
			<tr>
				<th scope="col">Project Name</th>
				<th scope="col">Domain Count</th>
				<th scope="col">Subdomain Count</th>
				<th scope="col">Creation Time</th>
			</tr>
		</thead>
		<tbody>
			{%- for project in projects -%}
				<tr>
					<td><a class="title" href="{{- url_for('item',id=project.id) -}}">{{- project.name -}}</a></td>
					<td>{{- project.domain_count -}}</td>
					<td>{{- project.subdomain_count -}}</td>
					<td>{{- project.datetime.timetuple().tm_year -}}-{{- project.datetime.timetuple().tm_mon -}}-{{- project.datetime.timetuple().tm_mday -}}&nbsp;&nbsp;{{- project.datetime.timetuple().tm_hour -}}:{{- project.datetime.timetuple().tm_min -}}</td>
				</tr>
			{%- endfor -%}
		</tbody>
	</table>
	<nav aria-label="Page navigation example">
		<ul class="pagination justify-content-end">
			<li class="page-item">
				<a class="page-link" href="#" aria-label="Previous">
					<span aria-hidden="true">&laquo;</span>
					<span class="sr-only">Previous</span>
				</a>
			</li>
			<li class="page-item active"><a class="page-link" href="#">1</a></li>
			<li class="page-item"><a class="page-link" href="#">2</a></li>
			<li class="page-item"><a class="page-link" href="#">3</a></li>
			<li class="page-item">
				<a class="page-link" href="#" aria-label="Next">
					<span aria-hidden="true">&raquo;</span>
					<span class="sr-only">Next</span>
				</a>
			</li>
		</ul>
	</nav>
{%- endblock -%}

