html,body {
	margin: 0;
	padding: 0;
	font-family:-apple-system,BlinkMacSystemFont,Helvetica Neue,PingFang SC,Microsoft YaHei,Source Han Sans SC,Noto Sans CJK SC,WenQuanYi Micro Hei,sans-serif;
	color:#ffffff;
	background-color: #121C25;
	height: 100%;
	width: 100%;
}

li { 
	list-style: none;
}

ul {
	padding: 0;
	margin: 0;
}

tbody {
	font-size: 14px;
}

tbody tr {
	background-color: #192B39;
}

a {
	color: #00C9EF;
}

.box-flex {
	display: flex;
	flex-wrap: nowrap;
	justify-content: flex-start; /*主轴对齐方式，左对齐*/
	align-items: stretch; /*交叉轴对齐方式，默认值，占满容器高度*/
	min-height: 100%;
}


