body {
	margin:0;
	font-family:-apple-system,BlinkMacSystemFont,Helvetica Neue,PingFang SC,Microsoft YaHei,Source Han Sans SC,Noto Sans CJK SC,WenQuanYi Micro Hei,sans-serif;
	color:#ffffff;
}

#background-map {
	width:100%;
	height:100vh;
}

#lucency {
	background:rgba(0,0,0,0.4);
	width:100%;
	height:100vh;
	position:absolute;
	z-index:1;
}

.login {
	position:relative;
	width:600px;
	margin:auto;
	margin-top:280px;
}

input {
	display:block;
	background:rgba(255,255,255,0.1);
	border:1px solid rgba(255,255,255,0.2);
	height:28px;
	width:240px;
	color:#ffffff;
	padding:0 6px;
	margin:0 auto;
	box-sizing:border-box;
}

.btn {
	color:rgba(255,255,255,0.4);

}

.btn:hover {
	background-color:rgba(255,255,255,0.8);
	color:rgba(0,0,0,0.8);
	font-weight:600;
}

#title {
	font-weight:700;
	margin:0 auto;
	margin-bottom:20px;
	width:300px;
	text-align:center;
	font-size:16px;
	color:rgba(255,255,255,0.4)
}

#title:hover {
	color:#ffffff;
}
