{% extends 'base.html' %}
{%- block style -%}
	{{ super() }}
	<link rel="stylesheet" href="{{ url_for('static',filename='css/index.css') }}">
{%- endblock -%}
{%- block content -%}
	<div class="left-block">
		<div class="logo">
			
		</div>
		<ul>
			<li class="menu-text"><a href="#"><img class="icon" src="{{ url_for('static',filename='img/dashboard.svg') }}"></a></li>
			<li class="menu-text"><a href="#"><img class="icon" src="{{ url_for('static',filename='img/search.svg') }}"></a></li>
			<li class="menu-text"><a href="#"><img class="icon" src="{{ url_for('static',filename='img/project.svg') }}"></a></li>
		</ul>
	</div>
	<div class="middle-block">
		<form method="post">
			{{- create_project_form.csrf_token -}}
			{{- create_project_form.name.label -}}<br>{{- create_project_form.name -}}<br>
			{{- create_project_form.submit -}}<br>
		</form>
		<table>
			<thead>
				<tr>
					<th></th>
				</tr>
			</thead>
			<tbody>
				{%- for project in projects -%}
					<tr>
						<td><a href="{{- project.name -}}">{{- project.name -}}</a></td>
					</tr>
				{%- endfor -%}
			</tbody>
		</table>
	</div>
	<div class="right-block">
		<form method="post">
			{{- create_domain_form.csrf_token -}}
			{{- create_domain_form.url.label -}}<br>{{- create_domain_form.url -}}<br>
			{{- create_domain_form.submit -}}<br>
		</form>
		<table>
			<thead>
				<tr>
					<th></th>
				</tr>
			</thead>
			<tbody>
				{%- for subdomain in subdomains -%}
					<tr>
						<td><a href="{{- subdomain.url -}}">{{- subdomain.url -}}</a></td>
					</tr>
				{%- endfor -%}
			</tbody>
		</table>
	</div>
{%- endblock -%}
