.right-block .project-list li {
	display: flex;
	flex-direction:column;
	flex-wrap: nowrap;
	justify-content: flex-start; /*主轴对齐方式，左对齐*/
	align-items: flex-start; /*交叉轴对齐方式*/
	font-size: 14px;
	padding: 12px;
	margin: 8px 16px;
	background-color: #172B38;
	background: -webkit-linear-gradient(#1A2F3C, #172A39); /* Safari 5.1 - 6.0 */
	background: -moz-linear-gradient(#1A2F3C, #172A39); /* Firefox 3.6 - 15 */
	background: linear-gradient(#1A2F3C, #172A39); /* 标准的语法 */
}

.right-block .project-list li .list-head , .right-block .project-list li .list-content{
	display: flex;
	flex-wrap: nowrap;
	justify-content: flex-start; /*主轴对齐方式，左对齐*/
	align-items: center; /*交叉轴对齐方式，默认值，占满容器高度*/
	width: 100%;
}

.right-block .project-list li .list-head {
	font-size: 10px;
	color: #818FA2;
	margin-bottom: 4px;
}

.right-block .project-list li .list-head .list-head-title {
	width: 700px;
	min-width: 700px;
}

.right-block .project-list li .list-head .list-head-domain {
	width: 35%;
}

.right-block .project-list li .list-head .list-head-subdomain {
	width: 35%;
}

.right-block .project-list li .list-head .list-head-datetime {
	width: 30%;
}


.right-block .project-list .item {
	margin: 0 12px;
}

.right-block .project-list li .list-content .title-group {
	display: flex;
	flex-direction:column;
	flex-wrap: nowrap;
	justify-content: flex-start; /*主轴对齐方式，左对齐*/
	align-items: stretch; /*交叉轴对齐方式，默认值，占满容器高度*/
	min-width: 700px;
	width: 700px;
}	

.right-block .project-list li .title {
	font-size: 16px;
}

.right-block .project-list li .describe {
	font-size: 12px;
	margin-top: 4px;
/*	color: #818FA2;*/
	color: #666C77;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
}

.right-block .project-list li .domain-count {
	width: 35%;
	font-size: 12px;
}

.right-block .project-list li .subdomain-count {
	width: 35%;
	font-size: 12px;
}

.right-block .project-list li .create-date {
	width: 30%;
	font-size: 12px;
}



