a {
	color: #17a2b8;
}

a:hover {
	color: #1B8598;
}

.bg-deepblue {
	background-color: #38546A;
}

.bg-lightblue {
	background-color: #D7E8ED;
}

.btn-bluegreen {
	color: #fff;
	background-color: #149CB5;
	border-color: #149CB5;
}

.btn-bluegreen:hover {
	color: #fff;
	background-color: #1B8598;
	border-color: #1B8598;
}

.page-link {
	color: #17a2b8;
}

.page-item.active .page-link {
	background-color: #17a2b8;
	border-color: #17a2b8;
}
