.index-banner{
	background-color: #149CB5;
}

a {
	color: #17a2b8;
}

a:hover {
	color: #1B8598;
}

.btn-primary {
	color: #fff;
	background-color: #149CB5;
	border-color: #149CB5;
}

.btn-primary:hover {
	color: #fff;
	background-color: #1B8598;
	border-color: #1B8598;
}

.page-link {
	color: #17a2b8;
}

.page-item.active .page-link {
	background-color: #17a2b8;
	border-color: #17a2b8;
}

.bg-dark {
	background-color: #38546A !important;
}

.bg-light {
	background-color: #D7E8ED !important;
}